/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  position: relative;
}

.app #bg-up{
  height: 110px;
  background-color: #009988;
}

.app #bg-down{
  min-height: 100vh;
  background-color: #d7dbd4;
}

.container{
  /* debug */
  min-height: 700px;
  background-color: red;

  width: 1270px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  display: flex;
}

/************* LEFT COLUMN ***********/

.left-column{
  /* debug */
  background-color: pink;

  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

/* nav bar */
.nav{
  flex-basis: content;
  display: flex;
  flex-direction: column;
}

.nav #user-profile{
  flex-basis: 60px;
  background-color: #eaeaea;
}

.nav #set-notifications{
  flex-basis: 90px;
  background-color: #76dcff;
}

.nav #search-bar{
  flex-basis: 50px;
  background-color: #fafafa;
}

/* lista delle chat */
.chat-list{
  flex-grow: 1;
  background-color: white;
}

.chat{
  list-style: none;
  min-height: 80px;
  border: solid gray 1px;
}

 /********** RIGHT MAIN SECTION CHAT  *******/
.right-mainsection{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.right-mainsection #contact-info{
  flex-basis: 60px;
  background-color: #eaeaea;
}

.right-mainsection #active-chat{
  flex-grow: 1;
  background-image:url(../img/whatsappbg.png);
}

.right-mainsection #msg-bar{
  flex-basis: 60px;
  background-color: #eaeaea;
}
