/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient( to bottom, #009988 0%, #009988 20%, #d4dbd9 20%, #d4dbd9 100% );
  overflow: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

#app{
  width: 80%;
  height: 90%;
  background: #fff;
  display: flex;
}


/************* LEFT COLUMN ***********/

.left-column{
  background-color: white;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

/* inizio nav bar */
.nav{
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}

.nav #user{
  flex-basis: 60px;
  background-color: #eaeaea;
  padding: 10px;
  display: flex;
}

#user-profile{
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

#user-profile img{
  height: 50px;
  border-radius: 50%;
}

#user-profile a{
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

#user-icons{
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#user-icons i{
  padding-right: 10px;
  font-size: 20px;
  color: #b1b1b1;
}


.nav #set-notifications{
  flex-basis: 90px;
  background-color: #76dcff;
  display: flex;
  padding: 10px;
}

#set-notifications #not-bell .fa-bell-slash{
  color:#76dcff;
  background-color: white;
  font-size: 25px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
#set-notifications #set{
  padding-top: 15px;
  line-height: 20px;
}

#set-notifications #set a{
  color: black;
  font-weight: bold;
}
#set-notifications #set #set-active{
  display: block;
  text-decoration: underline;
  color: grey;
  font-size: 14px;
}

.nav #search{
  flex-basis: 50px;
  background-color: #fafafa;
}

#search-bar{
  background-color: white;
  margin: 5px;
  border: solid 1px lightgray;
}

#search-bar .fa-search{
  color:#b1b1b1;
  padding: 10px 20px 10px 20px;
}

#search-bar input[type="search"]{
  border: none;
  width: 70%;
  font-size: 12px;
  outline: none;
}
/* fine nav bar */

/* lista delle chat */
.chat-list{
  height: 500px;
  background-color: white;
  overflow: auto;
}

/* single chat */
.chat{
  min-height: 80px;
  border-bottom: solid lightgray 1px;
}

.chat a{
  display: flex;
}

.chat .image{
  flex-basis: 20%;
  padding: 10px 20px;
}
.chat .image img{
  height: 60px;
  border-radius: 50%;
}

.chat .info-chat{
  flex-basis: 50%;
  padding: 10px 0;
  line-height: 20px;
}

.info-chat .name{
  color: black;
  font-weight: bold;
}

.info-chat .last-msg{
  display: block;
  color: gray;
  font-size: 13px;
}

.chat .time-last-msg{
  flex-basis: 30%;
  text-align: right;
  font-size: 13px;
  color: gray;
  padding: 10px;
}


 /********** RIGHT MAIN SECTION CHAT  *******/
.right-mainsection{
  flex-grow: 1;
  display: none;
  flex-direction: column;
}

/* contact info above */
.right-mainsection #contact-info{
  flex-basis: 60px;
  background-color: #eaeaea;
  padding: 10px;
}

#contact-info img{
  float: left;
  height: 50px;
  border-radius: 50%;
}

#contact{
  float: left;
  line-height: 20px;
  padding-left: 20px;
  width: 80%;
}

#contact-name{
  font-weight: bold;
  display: block;
}

#last-con{
  font-size: 13px;
  color: gray;
}

#chat-icons{
  float: right;
}

#chat-icons .fa-search, #chat-icons .fa-paperclip, #chat-icons .fa-ellipsis-v{
  font-size: 25px;
  color: #b1b1b1;
  padding-top:15px;
  padding-right: 15px;
}

/* visible chat */
.right-mainsection #active-chat{
  flex-grow: 1;
  background-image:url(../img/whatsappbg.png);
  overflow: auto;
}

#active-chat .row-msg{
  min-height: 100px;
  width: 100%;
}

.row-msg .box-msg-right{
  min-height: 100px;
  min-width: 300px;
  max-width: 500px;
  float: right;
  word-wrap: break-word;
}

.row-msg .msg-sent{
  min-height: 60px;
  min-width: 200px;
  margin: 30px 100px;
  padding: 10px;
  background-color: #cbfbb3;
  border-radius: 15px;
}

.row-msg .box-msg-left{
  min-height: 100px;
  min-width: 300px;
  max-width: 500px;
  word-wrap: break-word;
}

.row-msg .msg-received{
  min-height: 60px;
  min-width: 200px;
  margin: 30px 100px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

#messaggio{
  display: inline;
}

.fa-chevron-down{
  float: right;
  display: none;
}

.chevDropdown{
  padding: 5px;
  display:none;
  background-color: white;
  width: 100px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.msg-time{
  display: block;
  font-size: 12px;
  text-align: right;
  color: gray;
  padding-top: 10px;
}

.right-mainsection #writing-msg-bar{
  flex-basis: 60px;
  background-color: #eaeaea;
  padding: 10px 20px;
}

/* input to send msg down */
#writing-msg-bar .fa-smile-o, .fa-microphone{
  font-size: 25px;
  color: #697376;
}

#writing-msg-bar input{
  width: 88%;
  margin: 0 20px;
  height: 50px;
  padding-left: 20px;
  border: none;
  outline: none;
}

/* classes to active elements */
.active{
  display: flex;
}

.contactActive{
  display: block;
  background-color: lightgray;
}

.blockActive{
  display: block;
}
